{% extends 'accounts/main.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Are you sure you want to delete question "{{ poll.question }}"?</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'home' %}" class="btn btn-default btn-xs">Cancel</a>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>

        </div>
    </div>
</div>



{% endblock %}